apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: system-apps
  labels:
    app: mysql
spec:
  selector:
    app: mysql
  ports:
  - port: 3306
    targetPort: 3306
    name: mysql
  clusterIP: None
